<style type="text/css">
body {
	background-color: <%= @user.profile_bg %>;
	color: <%= @user.profile_fg %>;
}
</style>
<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <!-- @user.username -->
  <%= render "shared/username", :user => @user %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%=  @user.password %>
</p>

<p>
  <b>Background Color:</b>
  <%= @user.profile_bg %>
</p>

<p>
  <b>Text Color:</b>
  <%= @user.profile_fg %>
</p>

<p>
	<b>Image:</b>
		<% if @user.has_image? %>
			<%= image_tag @user.image_uri %> 
		<% else %>
			No image available <% end %>
</p>



 <h3>Shouts (<%= @shouts.count %>)</h3>
<% for shout in @shouts.paginate(:page => params[:page], :per_page => 2) %> 
         <tr>

          <td><%= shout.message %></td>
          <td><%= shout.created_at %></td> 
        </br>
        </tr>
         <% end %>



<%= will_paginate @shouts.paginate(:page => params[:page], :per_page => 2) %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
